.man{
    background-color: rgb(83, 83, 186);
}
.man_min{
    background-color: rgb(52, 203, 216);
}
.woman{
    background-color: rgb(216, 52, 98);
}
.girl{
    background-color: rgb(254, 137, 176);
}